.options {
  background: url('/img/wall.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  .container {
    background-size: cover;
    display: flex;
}
.back {
  width: 30px;
  height: 30px;
  background-color: red;
}
  ion-list + ion-list {
    margin-top: 0;
  }
  .small-text {
    font-size: 10px;
  }
}
.test{
  justify-content: center;
}
