<ion-content padding class="artifacts">
  <div class="container">

    <!-- <ion-card>
      <img src="/img/qm.png"/>
      <ion-card-content>
        <ion-card-title>
          Nine Inch Nails Live
          </ion-card-title>
        <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p>
      </ion-card-content> -->

    <div class="back" (click)="goBack()"></div>

    <div class="cells">

      <div class="item">
        <div class="item_icon"><img src="/img/arts/mona_lisa.jpg" alt="no image"></div>
        <div class="item_name">Mona Lisa</div>
      </div>

      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>

      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>

      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>

      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>
      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>

      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>
      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>

      <div class="item">
        <div class="item_icon"><img src="/img/arts/qm.png" alt="no image"></div>
        <div class="item_name">unknown artifact</div>
      </div>

    </div>
  </div>
</ion-content>
