<ion-content padding class="artifacts">
  <div class="container">

    <div class="cells">

      <div class="item">
        <div class="item_icon">some pict</div>
        <div class="item_name">some text</div>
      </div>

      <div class="item">
        <div class="item_icon">some pict</div>
        <div class="item_name">some text</div>
      </div>
      
      <div class="item">
        <div class="item_icon">some pict</div>
        <div class="item_name">some text</div>
      </div>

    </div>
  </div>
</ion-content>
