<ion-content padding class="start">
  <div class="container">
      <button large outline light (tap)="goTo(1)">Start Game</button>
      <button large outline light (tap)="goTo(2)">Artifacts</button>
      <button large outline light (tap)="goTo(3)">Options</button>
    <div class="share">
      <ion-icon light md="md-share"></ion-icon>
      <!-- <div class="shareIcons"><img src="/img/share.png" alt="share"></div> -->
      <!-- <div class="shareIcons"><img src="/img/share/g.png" alt="G"></div>
      <div class="shareIcons"><img src="/img/share/vk.png" alt="VK"></div>
      <div class="shareIcons"><img src="/img/share/i.png" alt="I"></div>
      <div class="shareIcons"><img src="/img/share/t.png" alt="T"></div> -->
    </div>
      </div>
</ion-content>
